@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all  .3s ease-in;
    font-family: 'Poppins', sans-serif;
}
*:disabled{
    opacity: .5;
}
body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    display: none;
}
#container{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
#container.dark{
    background-color:#323437;
}
header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
h1{
    font-size: 40px;
    color:rgb(184, 184, 184);
}
#right-side{
    display: flex;
    align-items: center;
    gap: 30px;
}
select{
    color:rgb(184, 184, 184);
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
#right-side button{
    color:rgb(184, 184, 184);
    padding: 6px 15px;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
#text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    position: relative;
    margin: 150px auto 00;
    padding: 0 30px
}
#text-container h2{
    color: gray;
    transition:all .2s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}
#text-container h2:hover{
    color: rgb(182, 180, 180);
}
#text-container p{
    color:#5e6062;
    font-size: 28px;
    word-spacing: 7px;
    letter-spacing: 1px;
    user-select: none;
}
#text-enter{
    margin: 50px auto 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    color: rgb(94, 93, 93);
    font-size: 23px;
    letter-spacing: 1px;
    padding: 0 30px
}
#text-enter button{
    margin-left: 20px ;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(121, 121, 121, .6);
    padding: 7px 15px; 
    border-radius: 15px;
    color: rgb(184, 184, 184);
    font-size: 20px;
    cursor: pointer;
}
#text-enter input{
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(121, 121, 121, .6);
    border-radius: 20px ;
    padding: 6px 40px ;
    font-size: 20px;
    color:rgb(172, 171, 171);
}